---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [6]:
import pandas as pd
import re

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
test = df[:]
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [9]:
print(df.shape)
print(test.shape)

(500,)
(500,)

### Found 
- nums_only = 04/20/2009; 04/20/09; 4/20/09; 4/3/09
- alpha_present = 'Mar 20, 2009', 'March 20, 2009','20 Mar 2009','20 March 2009','Feb 2009','Sep 2009','Oct 2010'
'''

In [85]:
example = '''
Mar-20-2009
Mar. 20, 2009
Mar 20 2009
20 Mar. 2009
20 March, 2009
Mar 20th, 2009
Mar 21st, 2009
Mar 22nd, 2009

6/2008
12/2009
2009
2010'''

In [221]:
def count_empties(this_df):
    counter = 0
    for each in this_df:
        if (each == []) or (type(each) == str):
            counter+=1
    print('Dates Missing {}'.format(counter))
    found = this_df.shape[0] - counter
    print('Dates Found {}'.format(found))

In [490]:
# m(m)/d(d)/yy(yy), m(m)/d(d)/yy
# numbers only: 125
nums_only = r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}'
nums_only_df = test.str.findall(nums_only)

In [491]:
re.findall(nums_only,example)

[]

In [492]:
count_empties(nums_only_df)

Dates Missing 375
Dates Found 125

In [493]:
# inspect index 72
nums_only_df[101:126]

101      [10/05/97]
102    [07/18/2002]
103       [9/22/82]
104       [2/24/74]
105       [2/03/78]
106     [2/11/2006]
107       [8/22/83]
108       [5/04/74]
109     [7/20/2011]
110       [6/17/95]
111       [6/10/72]
112      [10/16/82]
113      [12/15/92]
114       [12/8/97]
115       [4/05/89]
116      [12/04/87]
117       [6/20/77]
118     [4/27/2006]
119      [07/17/92]
120      [12/22/98]
121      [10/02/96]
122      [11/05/90]
123       [5/04/77]
124       [2/27/96]
125              []
dtype: object

In [292]:
# to grab dates with Month at the beginning
#alpha_present = r'(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|June|July|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{2}, )?\d{4}'
#alpha_present = r'(?:\d{,2} )?(?:Jan|Feb|Mar|Apr|May|June|July|Aug|Sep|Oct|Nov|Dec)[a-z,.-]*[\s]*(?:\d{,2}[stndth,-]*[\s]*)?\d{4}'
alpha_v2 = r'(?:\d{,2} )?(?:Jan|Feb|Mar|Apr|May|June|Jun|Jul|July|Aug|Sep|Sept|Oct|Nov|Dec)[a-z,.-]*[\s]*(?:\d{,2}[stndth,-]*[\s]*)?\d{4}'
alpha_present_df = df.str.findall(alpha_v2)
count_empties(alpha_present_df)

Dates Missing 282
Dates Found 218

In [293]:
alpha_present_df.loc[178]

['15 Jun 1985']

In [204]:
c = '''
Mar 20th, 2009
Mar-20-2009
Mar 20 2009
Mar 20th, 2009
Mar 21st, 2009
Mar 22nd, 2009
'''

In [290]:
alpha_present = r'(?:\d{,2} )?(?:Jan|Feb|Mar|Apr|May|June|Jun|Jul|July|Aug|Sep|Oct|Nov|Dec)[a-z,.-]*[\s]*(?:\d{,2}[stndth,-]*[\s]*)?\d{4}'
gottem = re.findall(alpha_present, b)
print(len(gottem))
gottem

11

['20 Mar. 2009',
 '20 March, 2009',
 'Mar 20th, 2009',
 'Mar-20-2009',
 'Mar. 20, 2009',
 'Mar 20 2009',
 '20 Mar. 2009',
 '20 March, 2009',
 'Mar 20th, 2009',
 'Mar 21st, 2009',
 'Mar 22nd, 2009']

In [266]:
count_empties(alpha_present_df)

Dates Missing 283
Dates Found 217

In [267]:
213 + 125

338

In [279]:
# in
alpha_present_df[178]

['15 Jun 1985']

In [108]:
def merge_found(x,y):
    if x == []:
        return y
    else:
        return x

In [120]:
def insert_missing(got_it,missing):
    if len(got_it) == 0:
        return missing
        return got_it

In [300]:
found = alpha_present_df.combine(nums_only_df,merge_found)

In [318]:
single_dates = combined_df[missing]

In [320]:
#alpha_present = r'(?:\d{,2} )?(?:Jan|Feb|Mar|Apr|May|June|Jun|Jul|July|Aug|Sep|Oct|Nov|Dec)[a-z,.-]*[\s]*(?:\d{,2}[stndth,-]*[\s]*)?\d{4}'
nums_dates = r'(?:\d{,2} )?(?:Jan|Feb|Mar|Apr|May|June|Jun|Jul|July|Aug|Sep|Oct|Nov|Dec)[a-z,.-]*[\s]*(?:\d{,2}[stndth,-]*[\s]*)?\d{4}'
#single_dates

(157,)

In [461]:
combined_df

0                                             [03/25/93]
1                                              [6/18/85]
2                                               [7/8/71]
3                                              [9/27/75]
4                                               [2/6/96]
5                                              [7/06/79]
6                                              [5/18/78]
7                                             [10/24/89]
8                                               [3/7/86]
9                                              [4/10/71]
10                                             [5/11/85]
11                                             [4/09/75]
12                                             [8/01/98]
13                                             [1/26/72]
14                                           [5/24/1990]
15                                           [1/25/2011]
16                                             [4/12/82]
17                                          [10/13/1976]
18                                             [4/24/98]
19                                             [5/21/77]
20                                             [7/21/98]
21                                            [10/21/79]
22                                             [3/03/90]
23                                             [2/11/76]
24                                          [07/25/1984]
25                                             [4-13-82]
26                                             [9/22/89]
27                                             [9/02/76]
28                                             [9/12/71]
29                                            [10/24/86]
                             ...
470    y1983 Clinic Hospital, first hospitalization, ...
471    tProblems Urinary incontinence : mild urge inc...
472    .2010 - wife; nightmares and angry outbursts; ...
473         shx of TBI (1975) ISO MVA.Medical History:\n
474    sPatient reported losing three friends that pa...
475                        TSH okay in 2015 Prior EKG:\n
476    1989 Family Psych History: Family History of S...
477    oEnjoys animals, had a dog x 14 yrs who died i...
478    eHistory of small right parietal subgaleal hem...
479    sIn KEP Psychiatryfor therapy and medications ...
480    1. Esophageal cancer, dx: 2013, on FOLFOX with...
481                                        y1974 (all)\n
482    h/o restraining order by sister/mother in 1990...
483    sTexas Medical Center; Oklahoma for 2 weeks; 1...
484    Death of former partner in 2004 by overdose as...
485    Was "average" student.  "I didn't have too man...
486    Contemplating jumping off building - 1973 - di...
487    appendectomy s/p delivery 1992 Prior relevant ...
488    tProblems renal cell cancer : s/p nephrectomy ...
489        ran own business for 35 years, sold in 1985\n
490                                  Lab: B12 969 2007\n
491                                   )and 8mo in 2009\n
492    .Moved to USA in 1986. Suffered from malnutrit...
493                                              r1978\n
494    . Went to Emerson, in Newfane Alaska. Started ...
495    1979 Family Psych History: Family History of S...
496    therapist and friend died in ~2006 Parental/Ca...
497                         2008 partial thyroidectomy\n
498    sPt describes a history of sexual abuse as a c...
499    . In 1980, patient was living in Naples and de...
dtype: object

In [562]:
nums_dates = r'\d{,2}[/]+\d{2,4}'
nums_dates_df = combined_df.str.findall(nums_dates)
cnt = 0
nums_dates_good_index = []
for entry,idx in zip(nums_dates_df,nums_dates_df.index.tolist()):
    if type(entry) == list:
        if len(entry) > 0:
            print(entry)
            cnt += 1
            nums_dates_good_index.append(idx)
print(cnt)

['6/1998']
['6/2005']
['10/1973']
['9/2005']
['03/1980']
['12/2005']
['5/1987']
['5/2004']
['8/1974']
['3/1986']
['10/1997']
['3/1993']
['3/1981']
['9/2003']
['10/1993']
['1/1983']
['7/1994']
['12/2008']
['10/1980']
['8/2003']
['12/1975']
['11/2010']
['7/1997']
['7/2014']
['9/2001']
['8/1986']
['1/1978']
['9/1975']
['1/2009']
['5/1995']
['8/1989']
['11/2000']
['06/1973']
['2/1999']
['6/2001']
['12/1978']
['8/2009']
['7/1973']
['1/2014']
['09/1975']
['12/2012']
['5/1999']
['7/1989']
['7/2009']
['11/1998']
['3/1995']
['2/2009']
['08/1988']
['4/2007']
['5/2000']
['4/2012']
['10/2001']
['2/1977']
['8/2008']
['2/1983']
['5/1979']
['1/1992']
['11/2008']
['12/2014']
['4/1974']
['10/1981']
['10/1986']
['03/1973']
['12/1994']
['8/1999']
['10/2010']
['10/1994']
['01/2007']
['8/2010']
['03/1990']
['11/2016']
['4/2004']
['2/1973']
['7/1987']
['8/2000']
['8/1975']
['5/1977']
['3/2000']
['9/1984']
['4/1973']
['12/1986']
['4/1979']
['7/2004']
['11/1984']
['5/2016']
['12/2007']
['11/1982']
['06/1981']
['4/2013']
['4/1999']
['5/2006']
['10/1978']
['12/1989']
['2/1974']
['11/1986']
['4/1983']
['10/2014']
['6/1989']
['9/1980']
['9/1992']
['9/2000']
['7/1981']
['1/2008']
['4/2002']
['7/1985']
['5/2010']
['8/2002']
['1/1994']
['12/2004']
['3/2003']
['7/1991']
['7/1982']
112

In [563]:
nums_dates_good_index

[343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454]

In [566]:
# add the newly found dates of the m(m)/(yy)yy format
combined_df[nums_dates_good_index] = nums_dates_df[nums_dates_good_index]

In [571]:
count_empties(combined_df)

Dates Missing 45
Dates Found 455

In [535]:
def not_null(a,b):
    if a.isnull():
        return b
    else:
        return a

In [524]:
def merge_missing(a,b):
    if type(a) == list:
        return a
    else:
        return b

In [544]:
count_empties(found)

Dates Missing 157
Dates Found 343

In [546]:
combined_df.iloc[343]

'6/1998 Primary Care Doctor:\n'

In [302]:
missing = []
found_idx = found.nonzero()
for each in found.index.tolist():
    if each not in found_idx[0]:
        missing.append(each)

In [304]:
# if the entry is a list, we have the answer.  i
# if the entry is a str it is missing
combined_df = found.combine(df,insert_missing)

In [454]:
count = 0
for each in combined_df:
    if type(each) != list:
        count += 1
count

157

In [455]:
df[missing].iloc[0]

'6/1998 Primary Care Doctor:\n'

In [263]:
alpha_v2 = r'(?:\d{,2} )?(?:Jan|Feb|Mar|Apr|May|June|Jun|Jul|July|Aug|Sep|Oct|Nov|Dec)[a-z,.-]*[\s]*(?:\d{,2}[stndth,-]*[\s]*)?\d{4}'

In [276]:
re.findall(alpha_v2,combined_df.loc[178])

['15 Jun 1985']

In [264]:
re.findall(alpha_v2,df[missing].iloc[0])

['15 Jun 1985']

In [89]:
short_nums_example = '''
6/2008
12/2009
2009
2010
'''

In [137]:
short_nums_only = r'(\d{,2}[/-]?\d{2,4})'
re.findall(short_nums_only,short_nums_example)

['6/2008', '12/2009', '2009', '2010']

In [139]:
def still_missing(x):
    if type(x) == list:
        return ""
    else:
        return x

In [141]:
temp_series = found2.apply(still_missing)

In [530]:
short_nums_df = temp_series.str.findall(short_nums_only)
found2[short_nums_df.nonzero()[0]]

178    15 Jun 1985 @ 11 AMCommunication with referrin...
198                                 [ October. 11, 2013]
199                                       [ Jan 24 1986]
204                                      [Mar. 10, 1976]
206                                   [ October 23 1990]
207                                    [ August 12 2004]
214                                     [ Sep. 10, 1974]
219                                       [ Dec 14 1975]
223                                   [ October 14 1974]
227                                [September. 15, 2011]
233                                        [ July, 1990]
234    . Patient presents with GAD flareup in Jul 200...
240                                         [ May, 2011]
244                                     [ January, 2013]
262    hHelen Ernst, M.D. last appt Jun 2002, no othe...
270                                          [May, 2006]
273                                    [ February, 2010]
306                                          [May, 2004]
311                                    [ February, 1995]
315    rBrookhaven outpatient program in Jun 1976- lo...
317                                         [ Mar, 1975]
321                                         [June, 1999]
325    .She has however developed severe anxiety and ...
328                                         [ May, 2001]
329                                       [ March, 2000]
338                                         [ Apr, 1998]
339                                       [ March, 2005]
343                        6/1998 Primary Care Doctor:\n
344    s 52 y/o MWM h/o chronic depression, anxiety, ...
345                    10/1973 Hx of Brain Injury: Yes\n
                             ...
470    y1983 Clinic Hospital, first hospitalization, ...
471    tProblems Urinary incontinence : mild urge inc...
472    .2010 - wife; nightmares and angry outbursts; ...
473         shx of TBI (1975) ISO MVA.Medical History:\n
474    sPatient reported losing three friends that pa...
475                        TSH okay in 2015 Prior EKG:\n
476    1989 Family Psych History: Family History of S...
477    oEnjoys animals, had a dog x 14 yrs who died i...
478    eHistory of small right parietal subgaleal hem...
479    sIn KEP Psychiatryfor therapy and medications ...
480    1. Esophageal cancer, dx: 2013, on FOLFOX with...
481                                        y1974 (all)\n
482    h/o restraining order by sister/mother in 1990...
483    sTexas Medical Center; Oklahoma for 2 weeks; 1...
484    Death of former partner in 2004 by overdose as...
485    Was "average" student.  "I didn't have too man...
486    Contemplating jumping off building - 1973 - di...
487    appendectomy s/p delivery 1992 Prior relevant ...
488    tProblems renal cell cancer : s/p nephrectomy ...
489        ran own business for 35 years, sold in 1985\n
490                                  Lab: B12 969 2007\n
491                                   )and 8mo in 2009\n
492    .Moved to USA in 1986. Suffered from malnutrit...
493                                              r1978\n
494    . Went to Emerson, in Newfane Alaska. Started ...
495    1979 Family Psych History: Family History of S...
496    therapist and friend died in ~2006 Parental/Ca...
497                         2008 partial thyroidectomy\n
498    sPt describes a history of sexual abuse as a c...
499    . In 1980, patient was living in Naples and de...
dtype: object

In [488]:
print(test.iloc[499])

. In 1980, patient was living in Naples and described being upset by the amount of noise generated by the neighbor living under his apartment.  He noted the woman was a heroin user and when she refused to quiet down, he walked into her apartment and "trashed it".  He was arrested for breaking and entering and destruction of property and was placed on probation.

In [98]:
count_empties(short_nums_df)

Dates Missing 0
Dates Found 500

In [573]:
count_empties(combined_df)

Dates Missing 45
Dates Found 455

In [588]:
[each for each in combined_df if type(each) == str]

['sHemmorage caused by probe in 1984 Medical History:\n',
 'sHas been at MYH since his treaters in NE retired in 2000. Was seen in NE for 20 years. Previouysly seen by Drs. Brandy Ivery and Quinn Prater. Prior medication trials (including efficacy, reasons discontinued):\n',
 'Pt joined Army reserves in 2001 and has 3 years left in this commitment.-Mental Status Exam Was the exam performed? (If not, indicate reason): Yes\n',
 'one sister from whom he is estranged due to her opiate dependence, legal conflict over mother\'s house following father\'s death in 1982, "I dont\' want to see family ever again"Past verbal, emotional, physical, sexual abuse: Patient Declined\n',
 'sSince 1998. Prior medication trials (including efficacy, reasons discontinued):\n',
 '1 Ex-smoker : quit 2012\n',
 '. Age 16, 1991, frontal impact. out for two weeks from sports.\n',
 'sLexapro (1988-now): Good response (anxiety)\n',
 's      25 year old engaged to be married Optician of Irish descent. She has a history of severe obesity necessitating a gastric bypass in 2014 (mother had a gastric bypass some years before). "The doctor said I needed to stop eating or I was going to end up in a coffin."  Pt came to the US from Ireland at age 3 and lived with her grandparents initially, which was very stabilizing. Pt reports that sadness and anxiety symptoms began after her grandfather\'s death when she was in 3rd grade. "I grew up in a strict Irish Catholic atmosphere and my parents were hardest on me because I was the oldest. She reports regular verbal, emotional, physical abuse from both parents throughout childhood.  She continues to live with her parents and reports that they get along OK, but they don\'t talk about the past. Stilll feels "a little low and irritable."\n',
 '8Complications from brain hemmorage in 2016 Axis IV: Economic problems; Occupational problems; Problems related to social environment\n',
 '.Age, 19, 1976, playing football, frontal impact. out for two weeks from sports.\n',
 's1981  Swedish-American Hospital\n',
 'aS/P suicide attempt 2011 Hx of Outpatient Treatment: Yes\n',
 'Patient has a history of suicidal ideation with plan. She denied ever attempting to take her life, but noted coming close to it in the past. Patient also reported that she has not had suicidal ideation, intent, or plan since 1997, other than this one instance this past week of passive ideation. Patient committed to the safety plan, which is to call 911, or call her sister if she is unable to call 911 (who would call 911 for her), or go to the nearest ER and then page the current writer. She also has the number for the crisis hotline and related that she could also call her mental health counselor that she sees at DMC. Multi-Axial Diagnoses/Assessment Anxiety Disorders 300.3 Obsessive Compulsive Disorder\n',
 'Born and raised in Fowlerville, IN.  Parents divorced when she was young, states that it was a "bad" divorce.  Received her college degree from Allegheny College in 2003.  Past verbal, emotional, physical, sexual abuse: No\n',
 'y1983 Clinic Hospital, first hospitalization, s/p SA by OD\n',
 'tProblems Urinary incontinence : mild urge incontinence, noted in 1999.\n',
 ".2010 - wife; nightmares and angry outbursts; drinking a lot; living in deceased grandmother's house with wife.  Working for American Electric Power- billing.\n",
 'shx of TBI (1975) ISO MVA.Medical History:\n',
 'sPatient reported losing three friends that passed away during his deployment, including a close friend Jacques, and two other friends that he lived with for a period of time. A fourth friend passed away prior to his deployment in 1972.  Patient reported thinking about his friends daily and described his feelings of grief as remaining constant since they died.  Alcohol Use: How often did you have a drink containing alcohol in the past year: Two to four times a month (2 points)\n',
 'TSH okay in 2015 Prior EKG:\n',
 '1989 Family Psych History: Family History of Suicidal Behavior: Ideation/Threat(s)\n',
 'oEnjoys animals, had a dog x 14 yrs who died in 1994 Interpersonal Interactions/ Concerns:\n',
 'eHistory of small right parietal subgaleal hematoma s/p MVA (1993)\n',
 'sIn KEP Psychiatryfor therapy and medications since 1996 Prior medication trials (including efficacy, reasons discontinued):\n',
 '1. Esophageal cancer, dx: 2013, on FOLFOX with oxaliplatin desensitization\n',
 'y1974 (all)\n',
 'h/o restraining order by sister/mother in 1990-- petitioned against this, no current legal problemsDoes patient have a Legal Guardian, Rep Payee, or Conservatorship (If yes, please include name and phone #): No\n',
 'sTexas Medical Center; Oklahoma for 2 weeks; 1995\n',
 'Death of former partner in 2004 by overdose as noted aboveParental/Caregiver obligations:\n',
 'Was "average" student.  "I didn\'t have too many friends at home at school, and was picked on a bit in school."  Went to college and really enjoyed, made good friends, still close with some of them.  Went to 6 year college/engineering program.  Has been employed f/t as materials engineer since graduated in 1987.Family history and relationships:\n',
 'Contemplating jumping off building - 1973 - difficulty writing paper.\n',
 'appendectomy s/p delivery 1992 Prior relevant labs:\n',
 'tProblems renal cell cancer : s/p nephrectomy 1977\n',
 'ran own business for 35 years, sold in 1985\n',
 'Lab: B12 969 2007\n',
 ')and 8mo in 2009\n',
 '.Moved to USA in 1986. Suffered from malnutrition but denies physical/sexual/emotional abuse.\n',
 'r1978\n',
 '. Went to Emerson, in Newfane Alaska. Started in 2002 at CNM. Generally likes job, does not have time to do what she needs to do. Feels she is working more than should be.\n',
 '1979 Family Psych History: Family History of Suicidal Behavior: None\n',
 'therapist and friend died in ~2006 Parental/Caregiver obligations:\n',
 '2008 partial thyroidectomy\n',
 'sPt describes a history of sexual abuse as a child; also describes the experience of finding a former partner after he died secondary to overdose in 2005 as traumaticPTSD: Does the patient feel themselves getting very upset whenever they are reminded of their traumatic experience: Yes\n',
 '. In 1980, patient was living in Naples and described being upset by the amount of noise generated by the neighbor living under his apartment.  He noted the woman was a heroin user and when she refused to quiet down, he walked into her apartment and "trashed it".  He was arrested for breaking and entering and destruction of property and was placed on probation.\n']

In [594]:
# regex for year only
only_year = r'[a-zA-Z]?(\d{2,4})'
only_year_df = combined_df.str.findall(only_year)

In [598]:
def get_good_index(temp_df):
    cnt = 0
    good_index = []
    for entry,idx in zip(temp_df,temp_df.index.tolist()):
        if type(entry) == list:
            if len(entry) > 0:
                print(entry)
                cnt += 1
                good_index.append(idx)
    return(good_index)

In [599]:
only_year_good_index = get_good_index(only_year_df)

['1984']
['2000', '20']
['2001']
['1982']
['1998']
['2012']
['16', '1991']
['1988']
['25', '2014']
['2016']
['19', '1976']
['1981']
['2011']
['1997', '911', '911', '911', '300']
['2003']
['1983']
['1999']
['2010']
['1975']
['1972']
['2015']
['1989']
['14', '1994']
['1993']
['1996']
['2013']
['1974']
['1990']
['1995']
['2004']
['1987']
['1973']
['1992']
['1977']
['35', '1985']
['12', '969', '2007']
['2009']
['1986']
['1978']
['2002']
['1979']
['2006']
['2008']
['2005']
['1980']

In [602]:
combined_df[only_year_good_index] = only_year_df[only_year_good_index]

In [603]:
count_empties(combined_df)

Dates Missing 0
Dates Found 500

In [609]:
df.iloc[72]

'Lithium 0.25 (7/11/77).  LFTS wnl.  Urine tox neg.  Serum tox + fluoxetine 500; otherwise neg.  TSH 3.28.  BUN/Cr: 16/0.83.  Lipids unremarkable.  B12 363, Folate >20.  CBC: 4.9/36/308 Pertinent Medical Review of Systems Constitutional:\n'

## data cleaning: fix the random errors

### INDICES TO INVESTIGATE
- 72 (mm-dd-yyyy): two present
- 178, 198, 199 (Jan, Feb, ... format) : returns empty list
-

In [630]:
"".join(list(combined_df[72][0]))

'7/11/77'

In [621]:
combined_df[72] = ['7/11/77']

In [622]:
combined_df[50:100]

50      [11/22/75]
51       [5/24/91]
52       [6/13/92]
53       [7/11/71]
54      [12/26/86]
55    [10/11/1987]
56       [3/14/95]
57      [12/01/73]
58     [12/5/2010]
59    [08/20/1982]
60       [7/24/95]
61       [8/06/83]
62      [02/22/92]
63       [6/28/87]
64    [07/29/1994]
65      [08/11/78]
66      [10/29/91]
67        [7/6/91]
68       [1/21/87]
69     [11/3/1985]
70       [7/04/82]
71       [4-13-89]
72       [7/11/77]
73       [4/12/74]
74      [09/19/81]
75        [9/6/79]
76       [12/5/87]
77    [01/05/1999]
78       [4/22/80]
79      [10/04/98]
80       [6/29/81]
81       [8/04/78]
82     [7/07/1974]
83    [09/14/2000]
84       [5/18/71]
85     [8/09/1981]
86       [6/05/93]
87        [8/9/97]
88       [12/8/82]
89       [8/26/89]
90      [10/13/95]
91       [4/19/91]
92    [04/08/2004]
93       [9/20/76]
94    [12/08/1990]
95     [4/11/1974]
96       [7/18/86]
97       [3/31/91]
98       [5/13/72]
99      [11/14/83]
dtype: object

In [3]:
def date_sorter():
    
    # Your code here
    
    return # Your answer here